PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://kiroegbu_db_user:<IDdnWwjbrQi4oBGS>@cluster0.ugcuxjt.mongodb.net/?appName=Cluster0
JWT_SECRET=your_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173




mongodb+srv://kiroegbu_db_user:YuM7f96qVQ09Al6D@cluster0.ugcuxjt.mongodb.net/seeing-green-energy?retryWrites=true&w=majority

mongodb+srv://kiroegbu_db_user:<YuM7f96qVQ09Al6D>@cluster0.ugcuxjt.mongodb.net/
